


<h2>WhySpam™ Website Rankings  </h2>
<br />
<center>
<%= link_to "A-Z Sites", :action => 'a_z', :id => 'a' %>
 
</center>

<div id = "float_wrapper">

<div id = "main_input" >

<% if @websites != nil %>
<% for website in @websites %>
<%= link_to website.url, website_path(website.id) %><br />

<% end %>

<% end %>


</div>



<div id = "ads">
	<script type="text/javascript"><!--
	google_ad_client = "pub-9419044821517786";
	/* WhySpam Square */
	google_ad_slot = "6597264537";
	google_ad_width = 200;
	google_ad_height = 200;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div><!-- ads -->
<div class = "float_space"></div>
</div><!-- wrapper -->


<br />
	<b>This Site is beta, and the algorithm for determining the website rankings isn't quit 100% but if you'd like to help... this is an open source project</b>
	


<br />
<br />
<div id = "float_wrapper">

<div id = "email_explained">
	
	<h4>What is a WhySpam™ Website Ranking ?</h4>
	<p>
	WhySpam™ Website rankings are the best way to know if the site you're about to give your email to is a known spammer. Some websites make money by selling your personal information to spammers. So every-time someone makes a customized WhySpam™ Secure Email and only hands it out to a single website, if they start to recieve unsolicited mail from a third party, then we know that website sold their information. By exposing those who sell your information we can help everyone steer clear from the bad websites, and let everyone know about the websites who respect your privacy. 
 	<br /><br />
		<%= link_to "Too Bad not Everyone Respects your Privacy Like us.", {:action => "privacy", :controller => "users"}, {:rel => "prettyPopin" } %>
	</p>
</di>
</div>

<div id = "email_useage">
	
	<h4>Did You Know?</h4>
	<p>
		Spammers exist because one in every 25 million junk emails that they send gets a reply, and the money that they make from that one reply is more than it costs to send out 25 million emails. Pretty impressive, no? So the best way to slow spam is to make the cost of sending out all those emails greater than the profit they would receive from the one reply. Simple economics right? But since the price per email isn't something we can really change, we have to increase the number of junk emails they have to send in-order to get a reply. But how can we do that ?
		<br />
		<br />
		Hmmm...maybe you could make a new WhySpam™ Secure Email address every time you give out your email address to a website, this way you can get spam out of your inbox, and hit those spammers where it really hurts...in the wallet. Also if you want to know if a website is likely to spam you before you ever sign up visit our WhySpam™ Website Rankings and check. If someone is getting rich by selling your information, take action into your own hands and dollars out of theirs...don't use their sites, it's that easy!
 <br /><br />
		<%= link_to "Just Say no To Spam!", {:action => "privacy", :controller => "users"}, {:rel => "prettyPopin" } %>
	</p>
</di>
</div>
<div class = "float_space">
</div>

</div><!-- float_wrapper-->

	
	
</p>