<hr />
<div id = "no_spam_container" class = "center">
<% if @secure_email != nil %>
	<div id = "no_spam_label">	Your Disposable Email:</div><br />
			<textarea id = "no_spam" class = "center" cols="35" rows="1" readonly onclick="this.focus(); this.select();" style = ""><%= @secure_email %></textarea>
			
			<br />
			<p>All email sent to this disposable email address will be forwarded to <%= @email %>, keeping you anonymous and secure. </p>
<% end %>
<center>
<%= @extra_message %>
</center>
</div>
<hr />

