
<div id = "retrieve_forgotten_password">
	<h2 class = "left">Reset Your Password</h2><br />
<% form_tag url_for :action => 'send_lost_password', :controller => 'sessions' do -%>
<table>
	<tr>
		<td>
			<b><%= label_tag 'Your Email:' %></b>
		</td>
		<td colspan = "2"><%= text_field_tag 'email', @email %></td>
	</tr>
	
	<%= show_simple_captcha %>
	



</table>
<%= submit_tag 'Reset Password', :id => "login_button" %> 


<% end %>

</div>