[submodule "fetcher"]
	path = fetcher
	url = 
[submodule "vendor/plugins/fetcher"]
	path = vendor/plugins/fetcher
	url = git://github.com/look/fetcher.git
[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git://github.com/technoweenie/restful-authentication.git
	