.DS_Store
log/*.log
tmp/**/*
config/database.yml
db/*.sqlite3
db/seed.rb
config/mailer_daemon.yml
config/environments/development.rb
config/environments/production.rb
config/initalizers/site_keys.rb
deploy_readme