<!-- Copyright (c) 2007 [Sur http://expressica.com] -->
<tr>
	<td>
		<span class='simple_captcha_description'> 
			<b><label><%= configatron.captcha_directions %>:</label></b>
		</span>
	</td>
	<td>
		<span class='simple_captcha_field'> 
  			<%= @simple_captcha_options[:field] %>
		</span>
  		<span class='simple_captcha_image'>
    		<%= @simple_captcha_options[:image] %>
  		</span>
  
</tr>

