<% content_for :html_head do %>

	<%= javascript_include_tag 'highcharts', :cache => true %>

	<script type="text/javascript">
	array = <%=  @month.to_json  %>;
	alert(array);
			var chart = new Highcharts.Chart({
			   chart: {
			      renderTo: 'chart-container-1', 
			      defaultSeriesType: 'area'
			   },
			   title: {
			      text: 'Users Per Day'
			   },
			   subtitle: {
			      text: ''
			   },
			   xAxis: {
				title: {
					text: 'Day'
				},
				
			   },
			   yAxis: {
			      title: {
			         text: 'Users'
			      }
			      
			   },
			   tooltip: {
			      formatter: function() {
			         return this.series.name +' produced <b>'+
			            Highcharts.numberFormat(this.y, 0, null, ' ') +'</b><br/>warheads in '+ this.x;
			      }
			   },
			   plotOptions: {
			      area: {
			         pointStart: 1940,
			         marker: {
			            enabled: false,
			            symbol: 'circle',
			            radius: 2
			         }
			      }
			   },
			   series: [{
			      name: 'blah',
			      data: array
			   }]
			});

			
	</script>
<% end %>



<div id = "chart-container-1">
	
	<br />
	<br />
	<br />
	<br /><br />
	<br /><br />
	<br /><br />
	<br /><br />
	<br /><br />
	<br /><br />
	<br /><br />
	<br /><br />
	<br /><br />
	<br /><br />
	<br /><br />
	<br /><br />
	<br />
	
</div>


