/* --------- /stylesheets/why.css --------- */ 
/* @override 
	http://localhost:3000/stylesheets/why.css?1248316316
	http://localhost:3000/stylesheets/why.css?1248394681
	http://localhost:3000/stylesheets/why.css?1248725710
	http://localhost:3000/stylesheets/why.css?1248734763
	http://localhost:3000/stylesheets/why.css?1248735843
	http://localhost:3000/stylesheets/why.css?1249071266
	http://localhost:3000/stylesheets/why.css?1250361034
	http://localhost:3000/stylesheets/why.css?1250452822
	http://localhost:3000/stylesheets/why.css?1250453539
	http://localhost:3000/stylesheets/why.css?1250454273
	http://localhost:3000/stylesheets/why.css?1250454574
	http://localhost:3000/stylesheets/why.css?1250454881
	http://localhost:3000/stylesheets/why.css?1250454995
	http://localhost:3000/stylesheets/why.css?1250455283
	http://localhost:3000/stylesheets/why.css?1250455322
	http://localhost:3000/stylesheets/why.css?1250455620
	http://localhost:3000/stylesheets/why.css?1250456979
	http://localhost:3000/stylesheets/why.css?1250463348
	http://localhost:3000/stylesheets/why.css?1250478969
*/

/*  
		Sticky Footer Solution
		by Steve Hatcher 
		http://stever.ca
		http://www.cssstickyfooter.com
		*/
		html, body, #wrap {height: 100%;}

		body > #wrap {height: auto; min-height: 100%;}

		#main-template {padding-bottom: 80px;}  

		#footer {position: relative;
			margin-top: -40px; 
			padding-top: 5px;
			height: 40px;
			background-color: #272727;
			border-top: 1px solid white;
			clear:both;} 

		.clearfix:after {content: ".";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;}
		.clearfix {display: inline-block;}
		/* Hides from IE-mac \*/
		* html .clearfix { height: 1%;}
		.clearfix {display: block;}
		/* End hide from IE-mac */
		



* {margin:0;padding:0;} 
/*


	*/
button.ticket_delete_button {
	
}

#about {
	width: 600px;
	
}

#dataTable_forms tbody tr.clickable.odd td.comments {
	
}

#survey_submit {
	
}

#survey_opt_out_true {
	
}

#survey_un_solicited_true {
	
}

#survey_sell_true {
	
}

#survey_vulgar_true {
	
}

#survey_submit {
	
}

#survey_submit_2 {
	
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
	display: inline;
	
}




#login_explained{
	margin-left: 20px;

}


#login_explained h2 {
	margin-left: -10px;

}

#spam_survey{
	width: 700px;
}

form#main-inline {
display: inline;
float: right;	
margin-right: 10px;
margin-top: -30px;
height: 20px;
}


#selected_letter {
		font-size: 200%;

}

#alphabet {
	text-align: center;
	margin: 0 auto 0 auto;
}

#flash {
	margin-top: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: blue;
	color: white;
	font-size: 16pt;
	width: 60%;
	border: 2px solid black;
}



form#inline {
	display: inline;
	
}

button.form_edit_button {
	z-index: 20;
}

div#flash.flash_error {
	margin-top: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: red;
	color: white;
	font-size: 16pt;
	width: 60%;
	border: 2px solid black;
	
}

.inputHighlighted {
  background-color: #4c9cce;
  color: #fff;
  border: 2px solid #0067ff;
}

.float_right {
	float:right;
}




.rtop, .rbottom{display:block;
}

#ticket_captcha {
	width: 75px;
	
}

span.simple_captcha_image img {
	float: right;
	padding-left: 3px;
	border: 1px solid black;
	height: 40px;
	width: 140px;
	padding-bottom: 10px;
	background-color: #fff;
	
}

span.simple_captcha_description  {
	font-size: 11pt;
	
}


.rtop *, .rbottom *{display: block; height: 1px; overflow: hidden;
}
.r1{margin: 0 5px;
background-color: white;}
.r2{margin: 0 3px;
background-color: white;}
.r3{margin: 0 2px;
background-color: white;}
.r4{margin: 0 1px; height: 2px;
background-color: white;}

  #simple_captcha{border: none; padding: 5px !important;}
  #simple_captcha,
  #simple_captcha span{display: table;}
  #simple_captcha .simple_captcha_field,
  #simple_captcha .simple_captcha_image{
    margin: 0px 0px 2px 0px !important;
    padding: 0px !important;
  }
  #simple_captcha .simple_captcha_label{font-size: 12px;}
  #simple_captcha .simple_captcha_field input{
    width: 150px !important;
    font-size: 16px;
    border: none;
    background-color: #efefef;
  }
div.simple_captcha_image {display:inline;}





.clickable {
	cursor: pointer;
	
}

span.clickable {
	display: inline-block;;
	border: 1px solid black;
	font-size: 11pt;
	font-variant: normal;
}




#optional_website {
	width: 500px;
}

#main_input span.float_right
#main_input_in_partial span.float_righ{
	font-size: 11pt;
	float: right;
}

span.manage_wrapper {

	width: 670px;
	display: inline-block;
}

span.man_cryptmail {
display: inline-block;
width: 270px;
padding-left: 5px;	
padding-right: 5px;
}

span.man_website {
display: inline-block;
width: 150px;


}

div#example_wrapper.dataTables_wrapper {
	padding:  0 5px 30px 5px;
	
}

#manage_mail {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 30px;
	
}









table.email tbody tr {
	border-bottom: 1px solid #000;
	
}

td.date {
	text-align:right;
	
}


#privacy{
	width: 700px;	
}

#email_explained,#email_useage{
	float: left;
	padding-left: 20px;
	width: 370px;
	text-align: justify;
}

.float_space {
	width: 100%;
	clear: both;
	height: 10px;
}

#float_wrapper {
	width: 100%;
}




#main_title img {
	border: none;
	margin-left: 10px;
	margin-bottom: -10px;
}


hr {
	margin: 0;
}

#content-main hr {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -10px;
	width: 770px;
}

#nav_1 {
	height: 40px;
	width:100px;
}

#nav a {
	
	
	height: 40px;
	width:100px;
	font: bold 100% Verdana,Arial,sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
    display:inline-block;
    
}


#nav {
margin: 0 auto 0 auto;
width: 600px;
 height: 65px;
 display: block;
}

.nav_hover{
display: none;	
	
}

#nav a:link, #nav a:visited {
	
	color: black;
}


#nav a:hover {
	color: #fdfd1a;	
}


#nav .nav_hover a:link, 
#nav .nav_hover a:visited,
#nav .nav_hover a:hover
{
	color: #fdfd1a;
}

#fixed_width {
	width: 500px;
}



#nav hr {
	width: 700px;
	text-align: center;
	margin-top: 10px;
}

#main_title h5 {
	margin: 1px 0 0 30px;	
	padding: 0;
}

input#user_submit,
input#form_submit,
input#ticket_submit,
#login_button input,
input#login_button, 
#login  
{
	
	font-size: 12pt;
	width: 200px;
}







input#user_email, 
input#user_website,
input#captcha,
textarea#form_comments,
input#ticket_to_email,
input#login,
td input#password,
td input#email ,
input#form_email, 
input#old_password,
input#user_login,
input#password_confirmation,
input#user_password
{
	height: 40px;
	font-size: 18pt;
	width: 300px;
}

 {
	
}

 {
	
}



#main_input input#captcha,
#main_input_in_partial input#captcha
{
	width: 150px;
}


#main_input td,
#main_input_in_partial td
{
	font-size: 22pt;
	min-width: 140px;
	font-weight: bold;
}

td.line {
	margin-top: -20px;
	margin-bottom: -20px;
	height: 1px;
	
}


ul.postnav,ul.postnav li{
	font:10pt Arial,sans-serif;
	margin:0;
	padding:0;
	list-style-type:none
	}


ul.postnav li{
	float:left;
	font-size:10pt;
		width: 9em;

	margin-right: 5px;
	list-style-type: none;
	
	}

ul.postnav a{
	display:block;
	width:9em;
	padding:5px 0;
	font: bold 100% Verdana,Arial,sans-serif;
    text-transform:uppercase;
	background: #C7FF5A;color: #006ad8;
    text-decoration:none;text-align:center
}



ul.postnav a:hover{background: #A8E52F;color:#FFF}



span.postnav,ul.postnav li{
	font:10pt Arial,sans-serif;
	margin:0;
	padding:0;
	list-style-type:none
	}


ul.postnav li{
	float:left;
	font-size:10pt;
		width: 9em;

	margin-right: 5px;
	list-style-type: none;
	
	}

ul.postnav a{
	display:block;
	width:9em;
	padding:5px 0;
	font: bold 100% Verdana,Arial,sans-serif;
    text-transform:uppercase;
	background: #C7FF5A;color: #666;
    text-decoration:none;text-align:center
}



ul.postnav a:hover{background: #A8E52F;color:#FFF}

#explain_login {
	margin-top: 22px;
	float: left;
	width: 350px;
	
}

#explain_login i {
	
	
}

#explain_login i {
	font-variant: small-caps;
	font-weight: normal;
	font-style: normal;
}

div.left {
	float: left;
	width: 50%;
	
}

div.right {
	float: left;
	width: 40%;
	margin-left: 1em;
}



#footer a:link, 
#footer a:visited {
	color: white;
}

#footer a:hover{
	color: black;
}

td:hover {
	color: black;
	
}

a:link, a:visited {
	color: blue;
	text-decoration: none;
}

a:hover{
	color: #008aff;
}


#user-bar {
	float: right;
}






#main {
	margin-left: 5px;
	margin-right: 5px;
}

td.comments {
	overflow: hidden;
}

#example_login {
	margin-left: 1em;
	float: left;
	color: #00d1ff;
}

#example_login hr{
	text-align: center;
	width: 80%;
}


#content-main {
	position: relative;
	margin-top: 5px;
	text-align: left;
	padding: 0 -10px 20px -10px;
}

span.small_text {
	float: left;
	font-size: 10pt;
	font-variant: small-caps;
}


#login explained h2 {
	margin-left: 20px;
}

.center {
	
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

div#login {
	float: left;
	margin-left: 1em;
	margin-right: 1em;
	width: 400px;
	
}

#main_title h1{
	font-size: 43px;
}

body {
	background: #22c900 url(/images/background_repeat.jpg) 	repeat-x scroll;
	background-color: #fff;
}

#main_input,
#main_input_in_partial, 
#main_input_websites {
	float: left;
	width: 475px;
	margin: 0 auto 0 auto;
	padding: 25px;
	margin-right: 20px;
	margin-left: 20px;
	padding-bottom: 35px;
}

#ads {
	float: right;
	margin-top: 40px;
	margin-right: 20px;
}


#new_user h2 {
	margin-left: 10px;
	
}

span.optional {
	display: block;
	text-align: center;
	font-size: 11pt;
	
}



#block_o_stuff {
	
}


	

#left_top_nav {
	width: 70px;
	padding-right: 0px;
	padding-left:  1px;
	padding-top: 1px;
	padding-bottom: 0px;
	
	
}


#center_main {
	width: 800px;
	margin: 0 auto 0;
}


#cover_up {
	z-index: 99999999;
	display: inline-block;
	padding-top: 15px;;
	width: 30px;
	height: 30px;
	opacity: 100;
	background: black url(/images/background_repeat.png) repeat-x;
}


div#corner_wrapper {
	padding-top: 2px;
	margin: 0 auto 0;
	min-height: 500px;
	width: 800px;
	
}




#container {
	width:800px;margin: 0 auto 0 ;
}


#no_spam_container{
	margin: 0 auto 0 auto;
	width: 450px;
	text-align: center;
	margin-bottom: -30px;
	
}


#no_spam {
	text-align: center;
	width: 450px;
	padding: 10px;
	font-size: 16pt;
	
}

#no_spam_label {
	margin-bottom: -20px;
	margin-left: -20px;
	text-align:left;	
	font-size: 22pt;
	font-weight: bold;	
}


#main_title a:link,  #main_title a:visited{
	color: black;
	
}

#main_title a:hover{
	color: white;
}

#dataTable tbody td{
	font-size: 14px;
	
}/* --------- /stylesheets/prettyPopin.css --------- */ 
/* @override 
	http://localhost:3000/stylesheets/prettyPopin.css?1238960860
	http://localhost:3000/stylesheets/prettyPopin.css?1238961177
	http://localhost:3000/stylesheets/prettyPopin.css?1238961422
	http://localhost:3000/stylesheets/prettyPopin.css?1238961512
	http://localhost:3000/stylesheets/prettyPopin.css?1238962727
	http://localhost:3000/stylesheets/prettyPopin.css?1238971278
	http://localhost:3000/stylesheets/prettyPopin.css?1238971444
	http://localhost:3000/stylesheets/prettyPopin.css?1238978072
	http://localhost:3000/stylesheets/prettyPopin.css?1239077210
	http://localhost:3000/stylesheets/prettyPopin.css?1239571872
	http://localhost:3000/stylesheets/prettyPopin.css?1239571929
	http://localhost:3000/stylesheets/prettyPopin.css?1239572535
	http://localhost:3000/stylesheets/prettyPopin.css?1239594866
	http://localhost:3000/stylesheets/prettyPopin.css?1247328693
*/

/* ------------------------------------------------------------------------
	Popin
------------------------------------------------------------------------- */


	#overlay {
		background: #000;
		position: absolute; top: 0; left: 0;
		z-index: 10000;
		width: 100%;
	overflow: hidden;
}

	.prettyPopin {
		margin-top: 50px;
		position: absolute; z-index: 11000;
		top: 50%; left: 50%;
	}
	
		.prettyPopin a#b_close {
			position: absolute; 
			height: 55px;
			width: 50px;
			
			z-index: 2000;
			top: -36px; right: 6px;
			text-indent: -10000px;
			background: url(/images/prettyPopin/my_b_close.png) no-repeat left;
			
		}
	
		.prettyPopin .prettyContent {
			position: relative;
			width: 100%; height: 100%;
			font-size: 1.2em;
		}
		
			.prettyPopin .prettyContent .prettyContent-container {
				display: none;
				padding: 20px 15px 15px 15px;
			}
		
			.prettyPopin .prettyContent .loader {
				position: absolute;
				top: 50%; left: 50%;
				margin: -14px 0 0 -14px;
			}/* --------- /stylesheets/demo_table.css --------- */ 
/* @override 
	http://localhost:3000/stylesheets/demo_table.css?1239039730
	http://localhost:3000/stylesheets/demo_table.css?1247448847
*/

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */
 
 td:hover {
	color: black;
}


.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	_height: 302px;
	clear: both;
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url(/images/back_disabled.jpg);
}

.paginate_enabled_previous {
	background-image: url(/images/back_enabled.jpg);
}

.paginate_disabled_next {
	background-image: url(/images/forward_disabled.jpg);
}

.paginate_enabled_next {
	background-image: url(/images/forward_enabled.jpg);
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	width: 100%;
	clear: both;
}

table.display thead th {
	padding: 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}

table.display tfoot th {
	padding: 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url(/images/sort_asc.jpg) no-repeat center right;
}

.sorting_desc {
	background: url(/images/sort_desc.jpg) no-repeat center right;
}

.sorting {
	background: url(/images/sort_both.jpg) no-repeat center right;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}




table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}


tr.odd {
	background-color: #E2E4FF;
}

tr.even {
	background-color: white;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.example_alt_pagination .dataTables_paginate {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.example_alt_pagination div.dataTables_paginate span.paginate_button,
 	.example_alt_pagination div.dataTables_paginate span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.example_alt_pagination div.dataTables_paginate span.paginate_button {
	background-color: #ddd;
}

.example_alt_pagination div.dataTables_paginate span.paginate_button:hover {
	background-color: #ccc;
}

.example_alt_pagination div.dataTables_paginate span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}


/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}


/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}


/* --------- /stylesheets/slide.css --------- */ 
/*
Name: Sliding Login Panel with jQuery 1.3.2
Author: Jeremie Tisseau
Author URI: http://web-kreation.com/
Script URI: http://web-kreation.com/index.php/tutorials/nice-clean-sliding-login-panel-built-with-jquery/
Date: March 26, 2009
Version: 1.0

	The CSS, XHTML and design is released under Creative Common License 3.0:
	http://creativecommons.org/licenses/by-sa/3.0/

*/ 

/***** clearfix *****/
.slideclear {clear: both;height: 0;line-height: 0;}
.slideclear:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.slideclear {display: inline-block;}
/* Hides from IE-mac \*/
* html .slideclearfix {height: 1%;}
.slideclear {display: block;}
/* End hide from IE-mac */
.slideclear {height: 1%;}
.slideclear {display: block;}

/* Panel Tab/button */
.tab {
  	background: url(/images/tab_b.png) repeat-x 0 0;
	height: 42px;
	position: relative;
    top: 0;
    z-index: 999;
}

.tab ul.login {
	display: block;
	position: relative;
  	float: right;
  	clear: right;
  	height: 42px;
	width: auto;
  	font-weight: bold;
	line-height: 42px;
	margin: 0;
	right: 150px;
  	color: white;
  	font-size: 80%;
	text-align: center;
}

.tab ul.login li.left {
  	background: url(/images/tab_l.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.login li.right {
  	background: url(/images/tab_r.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.login li {
 	text-align: left;
  	padding: 0 6px;
	display: block;
	float: left;
	height: 42px;
  	background: url(/images/tab_m.png) repeat-x 0 0;
}

.tab ul.login li a {
	color: #15ADFF;
}

.tab ul.login li a:hover {
	color: white;
}

.tab .sep {color:#414141}

.tab a.open, .tab a.close {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 100px;
	position: relative;
	top: 11px;
}

.tab a.open {background: url(/images/bt_open.png) no-repeat left 0;}
.tab a.close {background: url(/images/bt_close.png) no-repeat left 0;}
.tab a:hover.open {background: url(/images/bt_open.png) no-repeat left -19px;}
.tab a:hover.close {background: url(/images/bt_close.png) no-repeat left -19px;}

/* sliding panel */
#toppanel {
    position: absolute;   /*Panel will overlap  content */
    /*position: relative;*/   /*Panel will "push" the content down */
    top: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#panel {
	width: 100%;
	height: 270px;
	color: #999999;
	background: #272727;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;
}

#panel h1 {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
}

#panel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#panel p {
	margin: 5px 0;
	padding: 0;
}

#panel a {
	text-decoration: none;
	color: #15ADFF;
}

#panel a:hover {
	color: white;
}

#panel a-lost-pwd {
	display: block;
	float: left;
}

#panel .content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}

#panel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#panel .content .right {
	border-right: 1px solid #333;
}

#panel .content form {
	margin: 0 0 10px 0;
}

#panel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#panel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#panel .content input:focus.field {
	background: #545454;
}

/* BUTTONS */
/* Login and Register buttons */
#panel .content input.bt_login,
#panel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#panel .content input.bt_login {
	width: 74px;
	background: transparent url(/images/bt_login.png) no-repeat 0 0;
}

#panel .content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(/images/bt_register.png) no-repeat 0 0;
}

#panel .lost-pwd {
	display: block;
	float:left;
	clear: right;
	padding: 15px 5px 0;
	font-size: 0.95em;
	text-decoration: underline;
}


/*
Name: Sliding Login Panel with jQuery 1.3.2
Author: Jeremie Tisseau
Author URI: http://web-kreation.com/
Script URI: http://web-kreation.com/index.php/tutorials/nice-clean-sliding-login-panel-built-with-jquery/
Date: March 26, 2009
Version: 1.0

	The CSS, XHTML and design is released under Creative Common License 3.0:
	http://creativecommons.org/licenses/by-sa/3.0/

*/       

html, body {border: 0; margin: 0; padding: 0;}

body {

}

a {
	color: #0099CC;
	text-decoration: none;
}

a:hover {
	color: #00CCFF;
}

a img {
  border: none;/*remove border for linked images*/
}

h1 {
	font-size: 1.6em;
	height: 20px;
	padding-top: 0;
}

h2{
	font-size: 1.2em;
	height: 20px;
	padding-top: 0;
}

.highlight {background-color:#FF9D9D;border-bottom:#F30 1px solid;border-top:#F30 1px solid;padding: 4px 10px}

/***** Main Layout ****/
#container {
  	width: 100%;
  	height: 100%;
  	text-align: center;/* IE fix to center the page */
}

#content {
  	width: 740px;
  	margin: 0 auto;/* center the page in Firefox */
  	text-align: left;
	padding: 20px;
}
