/* @override http://localhost:3000/stylesheets/why.css?1254972636 */

#header #site-title {
font-size: 3em;
}

.center {
	margin: 0 auto 0 auto;
	text-align: center;
}

.float_right {
	float: right;
}

textarea {width:390px;height:250px;padding:5px;}


textarea#no_spam {
	height: 1em;
	width: 400px;
	font-size: 18px;
	font-weight: bold;
}


a:hover {
	text-decoration: underline;
}

a {
	text-decoration: none;	
}




#header div.nav {
	margin-top: 20px;
}

#header ul li {
	display: inline;
	list-style-type: none;
}

#header ul li a:link,
#header ul li a:visited{
	margin-right: 5px;
	padding: 2px 5px 2px 5px;
	font-size: 17px;
	text-decoration: none;
	border: 1px solid #a0a2a2;
	
}


#login_links a,
#header #site-title a{
	color: white;
	
}


input[type="text"],
input[type="password"], 
textarea
 {
	font-size:17px;
	margin: 0;
	padding:0;
	margin-bottom:0.2em;
	
	vertical-align:bottom;
	line-height:0.8em;
}



input#query, 

#example_filter input {
	margin-top: 10px;
	background: white url(/images/icons/maglens.png) no-repeat;
	padding-left:  18px;
}

#login_links {
	margin-top: 1em;
	
}

.gray-input {
	color: #7a7a7a;
}

form div label {
	color: #314545;
	font-size: 1.5em;
}



input[type="text"]:hover, 
input[type="text"]:focus,
input[type=password]:hover, 
input[type=password]:focus,
input.text:hover,
input.text:focus,
input.title:hover,
input.title:focus,
textarea:hover,
textarea:focus

{
	background-color: #EFEFEF;
	border-color: #9c9c9c;
	border-width: 1px;
}

.optional {
	color: #7a7a7a
}

form div label {
  width: 11em;
}

td.optional_td {
	width: 4em;
}
/*
button:hover {
background-color: #0073EA;
color: white;
}
*/

button:hover {
  color: white;
}

span.ui-icon {
	height: 14px;
	display: inline-block;
}


#header #site-tag { font-size: 1em; 
	margin-top: -15px;
	padding-bottom: 20px;
}


#login_links p {
	float: right;
}

.inline-block {
	display: inline-block;
	margin: 0 10px 0 10px;
}

#footer {
  /* width: 950px; */
  margin: 0 auto;
  text-align: center;
  font-size: 0.75em;
  color: #666666;
 	width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: #202020;
  
  border-top: solid 3px #0073ea;
  
}

#footer a {
  color: white;
}



.bottom_buttons h2 {
	display:block ;
	height: 35px;
	margin: 0 0 -25px 0;	
}

.bottom_buttons h3 {
	display:block;
margin-top: -6px;
}

.bottom_buttons {
	height: 100px;
	width: 170px;
}


.ui-state-hover h2, 
.ui-state-hover h3,
a.ui-state-hover:hover {
	text-decoration: none;
	color: white ;
}


	
.clickable {
	cursor: pointer;
}



#content_wrapper {
		background: url(/images/abackground_repeat.jpg) repeat-x ;
}