
<script type="text/javascript">
  $("#no_spam").liquidCanvas("[shadow fill{color:#fff}] => roundedRect");
  $("#no_spam").highlight();

</script>
<hr /><br />

<div id = "no_spam_container">

<% if @no_spam != nil %>
	<div id = "no_spam_label">	Your Secure Email:</div><br />
			<textarea id = "no_spam" class = "center" cols="50" rows="1" readonly onclick="this.focus(); this.select();" style = "overflow:hidden;border:0;"><%= @no_spam %></textarea>
<% end%>
<center>
<%= @extra_message %>
</center>
</div>
<br />
<br />
<hr />

