
<script type="text/javascript">
  $("#no_spam").liquidCanvas("[shadow fill{color:#fff}] => roundedRect");
  $("#no_spam").highlight();

</script>
<hr /><br />

<div id = "no_spam_container">

<% if @no_spam != nil %>
	<div id = "no_spam_label">	Your Secure Email:</div><br />
	<div id = "no_spam">
		<%= @no_spam %>
	</div>
<% end%>
<center>
<%= @extra_message %>
</center>
</div>
<br />
<br />
<hr />

