<p>
	Hey, thanks for stopping by, if you have any bugs to report or feature suggestions click on the floating feedback tab to your left. If you would like to help out go to the open source <a href = "http://github.com/thinkbohemian/WhySpam/tree/master">WhySpam repository on GitHub</a>.
	<br />
	<br />
	
	Feel free to drop me a line 
</p>