<p>
	Hey, thanks for stopping by, if you have any bugs to report or feature suggestions click on the floating feedback tab to your left. If you would like to help out go to the open source WhySpam repository on GitHub. HERE XXXXX<br /><br />
	
	If you want to discuss something else, please fill out the form below. 
</p>