
<div id = "siteBadge">
	
<div class="span-20">
	<div class="span-8 prepend-3">
		<%= image_tag "abtest.jpg" %>
	</div>
	<div class = "span-8">
		<h2><b>Coordinated A/B Tests</b></h2>
		<p>A/B Tests are the best way to get statistically sound data against different designs. With easy to use A/B testing suite, we can break down opposing email marketing campaigns into different user groups and track how many users delete their disposable accounts. Get the data you need and boost your user retention rates with our A/B tests. </p>
	</div>
</div>


<hr />
<div class = "center back">

<%= link_to_remote "Back", { :update => "animate", 
					:loading => "$('#animate').slideUp('slow').slideDown('slow')",
					:complete => "$('#partners').hide().slideDown('slow').show()" ,			
					:url => url_for(:action => "_partners", :controller => "static")},
 					:html => { :class => "ui-corner-all fg-button ui-state-default fg-button-icon-left partner-back" }   %>
</div>
</div>