<div id = "siteBadge">
	
<div class="span-20">
	<div class="span-8 prepend-3">
		<%= image_tag "statistics.jpg" %>
	</div>
	<div class = "span-8">
		<h2><b>User Statistics</b></h2>
		<p>Get detailed statistics data about the users that use our disposable email service to access your website. View trends and patterns as they develop. Our detailed data can help you customize your email presence and increase your email retention rates. </p>
	</div>
</div>


<hr />
<div class = "center back">

<%= link_to_remote "Back", { :update => "animate", 
					:loading => "$('#animate').slideUp('slow').slideDown('slow')",
					:complete => "$('#partners').hide().slideDown('slow').show()" ,			
					:url => url_for(:action => "_partners", :controller => "static")},
 					:html => { :class => "ui-corner-all fg-button ui-state-default fg-button-icon-left partner-back" }   %>
</div>
</div>