<div id = 'about'>
<p>
WhySpam.me is a collection of tools you can use to cut down on the spam you receive and hit spammers where it hurts...in the wallet!!<br /><br />

People who spam don't do it because they like to, they do it because it makes them money. Even if you do just ignore your spam completely, there are a handful of people out there who do click the the links they get, which in turn pays the spammers. As long as sending thousands or millions of emails costs less than the profit they get off of that one link click, spam will continue. WhySpam help the cause by increasing the number of email addresses that those spammers have to send messages to, which increases their operating costs making it less economical to send spam. <br /><br />

Spam can come from anonymous sources who scour the internet gobbling up every email address they can find and and sending them as many messages from as many email addresses ast they can create. You can keep your inbox safe from these spammers by being safe with your email address on the internet, not giving it to anyone you don't trust.  <br /><br />

Even if you play it safe and only give our email out to websites you trust, they can sell your email address to the mean anonymous sources, who fill your inbox with stuff you don't want. While most sites promise to not sell your email or send you unwanted messages, there is no way to know for sure if they will keep their word...until now. By using a new WhySpam Disposable Email address every time a website asks for your address, you keep a record of who SHOULD know that address. So when you start getting spam from a company you didn't give your email address to, then we can track who sold your personal whymailmation <br /><br />

<b>About Richard and Think Bohemian</b><br />
Richard is a Mechanical Engineer from Georgia Tech, who loves programming Ruby on Rails applications in his free time. He founded Think Bohemian in 2008 and is working towards making the web safer and more useful, if you want to help him out check out the <a href = "http://github.com/thinkbohemian/WhySpam/tree/master"> source code </a>, and contribute to it. If you're in Austin and want to get in touch visit the <%= link_to "Contact page", :controller => "static", :action => "contact" %>. 


</p>
</div>