<% @keywords = 'free disposable email,temporary email,free email,spam blocker, contact, contact us, whyspam, why spam me '%>

<% @description = Time.now.strftime("%b %d, %Y") + ' Contact us if you have any questions or comments about whyspam.me or ideas for future features.'  %>




<div class = "float_right">
	<%= render :partial => 'static/ads' %>
</div>


<p>
	Hey, thanks for stopping by, if you have any bugs to report or feature suggestions click on the floating feedback tab to your left. If you would like to help out go to the open source <a href = "http://github.com/thinkbohemian/WhySpam/tree/master">WhySpam repository on GitHub</a>.
	<br />
	<div id = "WhySpamJavaScript" class = "center">
		<% @localrequest = true %>
	<script type="text/javascript">
		request_state = "a19dk17djcn37z"
		form_id = "zq";
		slot = "65973256140537"
	</script>
	<script type="text/javascript" src="http://whyspam.me/javascripts/WhySpamExtern1a72jd6x1z.js">		
	</script>
	</div>
	<br />
	<p>
	This form was generated Using  WhySpam.me <%= link_to "Disposable Forms", 	new_form_path %>: a convenient, fast, and safe way to stay in touch. 
	</p>
	
</p>