<div class = "float_right">
	<%= render :partial => 'static/ads' %>
</div>

<br />

<div id = "optional_website">
	<h3>Why Do I Need to give you a Website?</h3>
	When you tell us the website you plan on giving this Disposable Email address to, then we can keep track of 
	the websites that spam, and the websites that don't. 
	<br />
	<br />
	For example, if you give your disposable email address to www.SketchyWebsite.com, and nobody else, and you start getting spam
	then we know that www.SketchyWebsite.com sold your email address, and we'll tell the world!! 
	<br />
	<br />
	So to get the most out of <a href = "http://www.whyspam.me">WhySpam.Me</a>, generate a new Disposable Email instead of sharing
	your personal email account every time you need to give out your address. We'll expose the websites that sell your information, 
	while keeping your personal email safe.
</div>