<% @keywords = 'free email, email laws, email rules, fair, just, righteous, correct, spam, websites, companies'%>

<% @description = Time.now.strftime("%b %d, %Y") + 'Email laws is a listing of rules for all websites to follow relating to emails and their users. All men, women, and websites were created equal, therefore they must all obey the same set of laws.'  %>



<h2>Email Laws</h2>

<p>Email laws is a listing of rules for all websites to follow relating to emails and their users. All men, women, and websites were created equal, therefore they must all obey the same set of laws.</p>

<div class = "prepend-1"><h3>Companies:</h3>
	<div class = "prepend-1 span-24 last">
		<ol>
			<li>You shall not require users to "opt-out" of email advertisements</li>
			<li>You shall not send unsolicited emails.</li>
			<li>You shall not sell or give away your users email address</li>
			<li>You shall not send vulgar or inappropriate emails</li>
			<!--  
			<li>You shall allow users to unsubscribe (successfully) from mailings </li> 
			-->
			
		</ol>
	</div>
	
<h3>Users:</h3>
	<div class = "prepend-1">
		<ol>
			<li>You shall generate a new disposable email every time you give out your address</li>
			<li>You shall not give the same disposable email to more than one website</li>
			<li>You shall report all any companies that do not adhere to the above commandments</li>
		</ol>
	</div>
</div>

<hr />
<!--
<div class = "prepend-1">
	<h4>You shall not require users to "opt-out" of email advertisements</h4>
	<p>
		Any website that requires you to take action to NOT receive emails is unacceptable. Tactics such as "Uncheck this box to opt out of receiving our Newsletter" or any similar is not respecting their user. If a user wants to receive an email from a company, they will be willing to take action to do so, the opposite is not true. This is spam. 
	</p>
	<h4>You shall not send unsolicited emails.</li>
	<p>
		If a website sends regular email mailings or bulk messages without asking their users' permissions.  This is spam. 
	</p>
	<h4>You shall not sell your users email address</li>
	<p>
		When a website violates user trust and sells or gives away a user
	</p>
	<h4>You shall not send vulgar or inappropriate emails</h4>	
	<p>
		
	</p>
	<h4>You shall generate a new disposable email every time you give out your address</h4>
	<p>
		
	</p>
	<h4>You shall not give the same disposable email to more than one website</h4>
	<p>
		
	</p>
	<h4>You shall report all any companies that do not adhere to the above commandments</h4>
	<p>
		
	</p>
</div>
-->