<div class = "span-24 ">
<h2 class = "inline-block">Companies & Application Partners</h2>
<div class = "span-22">
	<br />
</div>

<div class = "span-22 prepend-1">

<h3>Partner Companies</h3>

<p>
	Not only do we strive to help our users eliminate spam from their inboxes, we help companies and websites to ensure that their legitimate email communications don't rub people the wrong way. We offer feedback and auditing services to companies wishing to maximize profits and minimize user frustration.
	</p>	
	
	
<h4>Company Services Provided</h4> 
<div id = "partnerTableWrapper" style = "height:500px;width:800px">
	<%= render :partial => "static/partners"%>
</div>


	

<h4>Monthly Plans</h4>

<p class ="prepend-1">
	All paid WhySpam.Me plans work on a monthly billing cycle, and the prices shown on this page reflect the monthly costs of using the service.
</p>

<hr />

<h4>Upgrade or Downgrade Anytime</h4>

<p class ="prepend-1">Once you signup you can upgrade, downgrade, or cancel your account at any time. The new charge will take effect on your next billing. </p>
<hr />


<h4>Email Consulting</h4>
		<p class ="prepend-1">Looking for some additional help? We offer email consulting, so let us know your needs and we'll see how we can help!</p>	
		<p class = "prepend-1"><b>Note:</b> Companies requesting for any user's personal email address will be banned so don't even ask.</p>
<hr />



<p>Have questions about our plans or billing? <%= link_to "Get in touch!", {:controller => "static", :action => "contact"} %>. </p>



<hr />
<h2>Partner Applications</h2>
<p> Have a spam fighting application? We would love to work with you! We are looking for high quality accountability and deliverability data. If you have some information we can use, or you would like to integrate a part of your service with ours please <%= link_to "contact us", {:controller => 'static', :action => 'contact'} %> . 
	
</p>


<h2>Coming Soon</h2>
</div>
</div>