==========CHANGE ME BACK TO INDEX PAGE==========
<link rel="video_src" href="http://www.youtube.com/watch#!v=SLJHPMxgAWU"/>
<meta name="video_height" content="200" /> 
<meta name="video_width" content="300" /> 
<meta name="video_type" content="application/x-shockwave-flash" />

<link rel="image_src" href="images/envelope.png" />


	
	<script>function fbs_click() {u=location.href;t=document.title;window.open(’http://www.facebook.com/sharer.php?u=’+encodeURIComponent(u)+’&t=’+encodeURIComponent(t),’sharer’,'toolbar=0,status=0,width=626,height=436′);return false;}</script><a href="http://www.facebook.com/share.php?u=http://whyspam.me/static/promo" onclick="return fbs_click()" target="_blank"><img src="images/fbshare.jpg" alt="Share on Facebook" /></a>
		
	
<a href="http://twitter.com/home?status=I'm Laying the smack down on spam with http://whyspam.me" target="_blank"><%= image_tag "tweetus.jpg" %></a>