
<%= @message %>

<br />
<hr />
<p>You're getting this email forwarded from WhySpam.ME servers, if you would like to block all emails forwarded through <%# @email %> then login to <%= link_to "manage your disposable email", "http://www.whyspam.me/manage",  :only_path => false %></a></p>