


<p>Hey You Guys</p>

<p>This is a super duper example of what someone might send, this is only text/html, but this way i know i ain't accidentally making recursive calls. If you're getting this and weren't expecting it, please call Richard Snowman, cause he's sending this using an automated ruby mailer, and probably did something wrong, and you will continue to get random emails, until he fixes it. So long and thanks for all the fish.
	
<p>The MGMT</p>