<!-- located in views/postoffice
 we can access the variables we declared in models/postoffice.rb
 body[:name]  = name is accessed by @name
 body[:email] = email is accessedby @email
 


# welcome.text.html.erb
# note the HTML -->
<p>Welcome to WhySpam.Me <i><%= @name %></i>. </p>
 
<p>To keep 'amazon.com' from ever selling your email address <b><%= @email %> </b> we've you covered with SHA technology developed by the National Security Agency, and we won't let 'amazon.com' see it. All they will ever see is "AFDGDGSTYW5RYT8KJHKJ3GFDC@whyspam.me" , and you'll still get all email as if it was sent right to <%= @email %>. On the off chance that 'amazon.com' does sell your email account, then you can stop the spam at the source by shutting off "AFDGDGSTYW5RYT8KJHKJ3GFDC@whyspam.me" by clicking here.  </p>
 
<p>If you ever forget or lose this email, don't worry we'll give you a link at the bottom of all emails that get filtered through 'amazon.com' that will let you shut down "AFDGDGSTYW5RYT8KJHKJ3GFDC@whyspam.me" . Cool Beans!! </p>