<div id = "checkedvalidated">
<p> Having your website checked, means that any user, can click on this logo<br /> 
	<center>
		<%= image_tag('widgets/checked.png')%>
	</center
	><br />then they will be transported to you whyspam.me page. 
	<br />
	<br />
	Pros:<br />
	-You let your users know you're serious about privacy by linking to your WhySpam.me surveys.<br /><br />
	Cons: <br />
	-Your users can't tell if you're trustworthy just by looking at the image, they have to click the link, adding to their time and the complexity of your site. What a bummer.
	</p>
</div>