<div id = "checkedvalidated">
	<p> Having your website validated, means that any user, can see if you spam or not. And when they click on the logo<br /> 
		<center>
			<%= image_tag('widgets/aplusvalid.png')%>
		</center
		><br />then they will be transported to your whyspam.me page. 
		<br />
		<br />	

	Pros:<br />
	-You let your users know you're serious about privacy by linking to your WhySpam.me surveys.<br />
	-Your users can see your grade without clicking on another link.
	<br />
	Cons: <br />
	-Nothing unless you're a dirty spammer and have something to hide.
	</p>
</div>