<%= stylesheet_link_tag 'spamfire.css' %>	

<style type="text/css">



</style>


<!-- todo 
Make Button Remote

-->
<div id = "new_spamfire_wrapper">
			<textarea id = "no_spam" class = "center" cols="32" rows="1" 
			readonly onclick="this.focus(); this.select();" style = ""><%= @no_spam -%><%= @extra_message %></textarea>

		<%= button_to "Back" ,{:controller=> "spamfire", :action => "new", :website => @website } , {:id => "spamfire_button"}-%>
		
</div>