<p>
	<b>Did you have to opt out of emails?</b><br />
	While not the end of the world, websites that require you to take action so opt-out of an email service such as
	a newsletter can be annoying, especially when they just won't stop sending you junk. 
	<br />
	
	<b>Did they Send you Un-solicited Emails?</b><br />
		Much worse then requiring an opt-out, these websites send you messages that you never agreed to. While an
		occasional administrative email once every few months is okay, anything more is just annoying.
	
	<b>Did they sell your email address? </b><br />
		When websites sell your email address, its you that pays the price. If you only gave a Disposable Email to 
		one website, but start receiving emails from another source then it is pretty clear who sold your information. 
	
	<b>Did you receive inappropriate emails? </b><br />
</p>